<img id="profile-pic"
     style="max-width: 300px; max-height: auto;"
     src="<%= user.escape("large_picture_url") %>"
     alt="my current profile picture / logo" />

<br>

<form id="upload-form">
  <input id="upload-button" type="file" name="picture">

  <p id="reset-picture" style="cursor: pointer; display: block; width: 150px;">
    Reset preview to current picture
  </p>

  <button>Upload</button>
</form>

<br>
<br>

<strong style="padding-right: 50px;"><%= user.escape("name") %></strong>
<button>Edit</button>
