<h2><%= user.escape("name") %>'s Hippolyta</h2>

<img src="<%= user.escape("logo_image_url") %>" alt="hippolyta logo" />

<p>
Customer since <%= new Date(user.escape("created_at")) %>
</p>

<p>
  <a href="#users/<%= user.id %>/products">Your Products</a>
</p>
