<main id="review-created">
  <div id="review-created-container">
    <div id="review-created-thank-you">
      Thank you for the feedback!  We've added your review to this product.
    </div>
    <div id="review-created-links">
      View it
      <a href="#sellers/<%= reviewedProductSellerId %>/products/<%= reviewedProductId %>">
        here</a>,
      go back to your
      <a href="#current_user/purchased_products">
        purchased products</a>,
      or
      <a href="/">
        continue shopping</a>.
    </div>
  </div>
</main>
