<main id="review-created">
  <div id="review-created-container">
    <div id="review-created-thank-you">
      Thank you for the feedback!  We've added your review to the this products
      reviews.
    </div>
    <div id="review-created-links">
      View it here, go back to your purchased products, or continue shopping.
    </div>
  </div>
</main>
