<main id="new-review">
  <div id="new-review-container">
    <section id="new-review-header">
      You are reviewing
      <span id="new-review-purchased-product-name">
        <%= purchasedProduct.escape("name") %>
      </span>
    </section>

    <section id="new-review-body">
      <form id="form_id" action="index.html" method="post">

      </form>
    </section>
  </div>
</main>
