<main id="checkout-view">
  <section id="checkout-body">
    <ul id="shipping-address" class="checkout-steps">
      <li id="shipping-address-step-number" class="step-number">
        1
      </li>
      <li class="step-title-span">
        <span id="shipping-address-title" class="step-title">
          Shipping Address
        </span>
      </li>
      <li class="step-current-selection-span">
        <span id="shipping-address-current-selection">
        </span>
      </li>
      <li class="step-button-span">
        <span id="shipping-address-button" class="step-button">
          Change Address
        </span>
      </li>
    </ul>

    <div id="shipping-address-options">
    </div>

    <ul id="payment-method" class="checkout-steps">
      <li id="payment-method-step-number" class="step-number">
        2
      </li>
      <li class="step-title-span">
        <span id="payment-method-title" class="step-title">
          Payment Method
        </span>
      </li>
      <li class="step-current-selection-span">
        <span id="payment-method-current-selection">
        </span>
      </li>
      <li class="step-button-span">
        <span id="payment-method-button" class="step-button">
          Change Card
        </span>
      </li>
    </ul>

    <div id="payment-method-options">
    </div>

    <ul id="review-cart" class="checkout-steps">
      <li class="step-number">
        3
      </li>
      <li class="step-title-span">
        <span id="review-cart-title" class="step-title">
          Cart Items
        </span>
      </li>
      <li class="step-button-span">
        <span id="review-cart-button" class="step-button">
          View
        </span>
      </li>
    </ul>

    <div id="checkout-products">
      <%% products.each( function(product){ %>
        <%% var cartProduct = cartProducts.getOrFetchByCartAndProductId(cart.id, product.id); %>
        <ul class="checkout-product">
          <li class="checkout-product-image-cell">
            <ul>
              <li>
                <img src="<%%= product.escape("small_picture_url") %>"
                     alt="product img" />
              </li>
            </ul>
          </li>

          <li class="checkout-product-info-cell">
            <ul>
              <li class="checkout-product-name">
                <%%= product.escape("name") %>
              </li>

              <%% var quantity = product.escape("quantity") %>
              <%% if (quantity < 1) { %>
                  <li class="out-of-stock">
                    Out of Stock
                  </li>
              <%% } else if (quantity > 25) { %>
                  <li class="in-stock">
                    In Stock
                  </li>
              <%% } else { %>
                  <li class="left-in-stock">
                    Only <%%= quantity %> left in stock.
                  </li>
              <%% }; %>

              <%% if(cartProduct) { %>
                <form action="/api/cart_products/qty/<%%= product.id %>" method="post">
                  <input type="hidden" name="_method" value="patch">
                  <input type="hidden" name="checkout?" value="true">
                  <input class="checkout-product-quantity-input"
                         type="number"
                         min="0"
                         max="<%%= product.escape("quantity") %>"
                         name="cart_product[quantity]"
                         value="<%%= cartProduct.escape("quantity") %>">
                  <br>
                  <button class="checkout-product-quantity-update">
                    Update
                  </button>
                </form>
              <%% }; %>

              <li class="checkout-product-seller">
                Sold by <%%= product.escape("seller_name") %>
              </li>
            </ul>
          </li>
        </ul>
      <%% }) %>
    </div>
  </section>

  <section id="checkout-sidebar">
    <div id="checkout-sidebar-box">
      <a id="checkout-place-order"
         href="/checkout/add_purchased_products"
         data-method="post">
        Place your order
      </a>

      <section class="checkout-sidebar-pricings">
        Order Summary
        <div id="checkout-price-details">
          <section id="checkout-price-details-left">
            <ul>
              <li>
                Items (<%%= cart.escape("cart_quantity") %>):
              </li>
              <li>
                Shipping & handling:
              </li>
              <li>
                Total before tax:
              </li>
              <li>
                Estimated tax to be collected:
              </li>
            </ul>
          </section>
        </div>
      </section>
    </div>
  </section>
</main>
