<main id="checkout-view">
  <section id="checkout-body">
    <ul id="shipping-address" class="checkout-steps">
      <li id="shipping-address-step-number" class="step-number">
        1
      </li>
      <li class="step-title-span">
        <span id="shipping-address-title" class="step-title">
          Shipping Address
        </span>
      </li>
      <li class="step-current-selection-span">
        <span id="shipping-address-current-selection">
          <span id="loading-address-current-selection">
            Loading...
          </span>'
        </span>
      </li>
      <li class="step-button-span">
        <span id="shipping-address-button" class="step-button">
          Change Address
        </span>
      </li>
    </ul>

    <div id="shipping-address-options">
      <span id="loading-address-options">
        Loading...
      </span>
    </div>

    <ul id="payment-method" class="checkout-steps">
      <li id="payment-method-step-number" class="step-number">
        2
      </li>
      <li class="step-title-span">
        <span id="payment-method-title" class="step-title">
          Payment Method
        </span>
      </li>
      <li class="step-current-selection-span">
        <span id="payment-method-current-selection">
          <span id="loading-payment-current-selection">
            Loading...
          </span>
        </span>
      </li>
      <li class="step-button-span">
        <span id="payment-method-button" class="step-button">
          Change Card
        </span>
      </li>
    </ul>

    <div id="payment-method-options">
      <span id="loading-payment-options">
        Loading...
      </span>
    </div>

    <ul id="review-cart" class="checkout-steps">
      <li class="step-number">
        3
      </li>
      <li class="step-title-span">
        <span id="review-cart-title" class="step-title">
          Cart Items
        </span>
      </li>
      <li class="step-button-span">
        <span id="review-cart-button" class="step-button">
          View
        </span>
      </li>
    </ul>

    <div id="checkout-products">
      <span id="loading-checkout-products">
        Loading...
      </span>
    </div>
  </section>

  <section id="checkout-sidebar">
    <div id="checkout-sidebar-box">
      <form action="/checkout/add_purchased_products" method="post">
        <input type="hidden" name="amount" value="">
        <button id="checkout-place-order">
          Place your order
        </button>
      </form>

      <section class="checkout-sidebar-pricings">
        Order Summary
        <div id="checkout-price-details">
          <section id="checkout-price-details-left">
            <ul>
              <li>
                Items
                (<span id="checkout-sidebar-items-quantity"></span>):
              </li>
              <li>
                Shipping & handling:
              </li>
              <li>
                Total before tax:
              </li>
              <li>
                Estimated tax to be collected:
              </li>
            </ul>
          </section>
        </div>
      </section>
    </div>
  </section>
</main>
