<main id="checkout-view">
  <div id="shipping-address" class="checkout-steps">
    1
    <span class="step-span">
      Shipping Address
    </span>
  </div>

  <div id="payment-method" class="checkout-steps">
    2
    <span class="step-span">
      Payment Method
    </span>
  </div>

  <div id="review-cart" class="checkout-steps">
    3
    <span class="step-span">
      Review Cart Items
    </span>

    <ul>
      <li>
        
      </li>
    </ul>
  </div>
</main>
