<main id="checkout-view">
  <section id="checkout-body">
    <ul id="shipping-address" class="checkout-steps">
      <li class="step-number">
        1
      </li>
      <li class="step-title-span">
        <span id="shipping-address-title" class="step-title">
          Shipping Address
        </span>
      </li>
      <li class="step-button-span">
        <span id="shipping-address-button" class="step-button">
          Add Address
        </span>
      </li>
    </ul>

    <ul id="payment-method" class="checkout-steps">
      <li class="step-number">
        2
      </li>
      <li class="step-title-span">
        <span id="payment-method-title" class="step-title">
          Payment Method
        </span>
      </li>
      <li class="step-current-selection-span">
        <span id="payment-method-current-selection">
        </span>
      </li>
      <li class="step-button-span">
        <span id="payment-method-button" class="step-button">
          Change Card
        </span>
      </li>
    </ul>

    <div id="payment-method-options">
    </div>

    <ul id="review-cart" class="checkout-steps">
      <li class="step-number">
        3
      </li>
      <li class="step-title-span">
        <span id="review-cart-title" class="step-title">
          Cart Items
        </span>
      </li>
      <li class="step-button-span">
        <span id="review-cart-button" class="step-button">
          View
        </span>
      </li>
    </ul>

    <div id="checkout-products">
      <%% products.each( function(product){ %>
        <%% var cartProduct = cartProducts.getOrFetchByCartAndProductId(cart.id, product.id); %>
        <ul class="checkout-product">
          <li class="checkout-product-image-cell">
            <ul>
              <li>
                <img src="<%%= product.escape("small_picture_url") %>"
                     alt="product img" />
              </li>
            </ul>
          </li>

          <li class="checkout-product-info-cell">
            <ul>
              <li class="checkout-product-name">
                <%%= product.escape("name") %>
              </li>

              <%% var quantity = product.escape("quantity") %>
              <%% if (quantity < 1) { %>
                  <li class="out-of-stock">
                    Out of Stock
                  </li>
              <%% } else if (quantity > 25) { %>
                  <li class="in-stock">
                    In Stock
                  </li>
              <%% } else { %>
                  <li class="left-in-stock">
                    Only <%%= quantity %> left in stock.
                  </li>
              <%% }; %>

              <%% if(cartProduct) { %>
                <form action="/api/cart_products/qty/<%%= product.id %>" method="post">
                  <input type="hidden" name="_method" value="patch">
                  <input type="hidden" name="checkout?" value="true">
                  <input class="checkout-product-quantity-input"
                         type="number"
                         min="0"
                         max="<%%= product.escape("quantity") %>"
                         name="cart_product[quantity]"
                         value="<%%= cartProduct.escape("quantity") %>">
                  <br>
                  <button class="checkout-product-quantity-update">
                    Update
                  </button>
                </form>
              <%% }; %>

              <li class="checkout-product-seller">
                Sold by <%%= product.escape("seller_name") %>
              </li>
            </ul>
          </li>
        </ul>
      <%% }) %>
    </div>
  </section>

  <section id="checkout-sidebar">
    <div id="checkout-sidebar-box">
      <a id="checkout-place-order"
         href="/checkout/add_purchased_products"
         data-method="post">
        Place your order
      </a>

      <section class="checkout-sidebar-pricings">
        Order Summary
        <div id="checkout-price-details">
          <section id="checkout-price-details-left">
            <ul>
              <li>
                Items (<%%= cart.escape("cart_quantity") %>):
              </li>
              <li>
                Shipping & handling:
              </li>
              <li>
                Total before tax:
              </li>
              <li>
                Estimated tax to be collected:
              </li>
            </ul>
          </section>
        </div>
      </section>
    </div>
  </section>

  <div id="add-card-form-overlay">
    <div id="add-card-relative-container">
      <div id="add-card-modal">
        <div class="top-bar group">
          <span class="top-bar-title">
            Add a debit or credit card
          </span>
          <span class="top-bar-x">
            &times
          </span>
        </div>
        <div id="add-card-form-container">
          <form id="add-card-form" action="checkout/add_card" method="post">
            <span class="payment-errors"></span>

            <div class="form-row">
              <div class="first-form-cell">
                <span>Card number</span>
              </div>
              <div class="second-form-cell">
                <input id="card-number"
                       type="text"
                       size="20"
                       data-stripe="number"
                       autofocus="autofocus"/>

                <span>CVC</span>
                <input type="text" size="4" data-stripe="cvc"/>
              </div>
            </div>

            <div class="form-row">
              <div class="first-form-cell">
                <span>Name on card</span>
              </div>
              <div class="second-form-cell">
                <input type="text" size="30" data-stripe="name"/>
              </div>
            </div>

            <div class="form-row">
              <div class="first-form-cell">
                <span>Expiration date (MM/YYYY)</span>
              </div>
              <div class="second-form-cell">
                <input type="text" size="2" data-stripe="exp-month"/>
                <span> / </span>
                <input type="text" size="4" data-stripe="exp-year"/>
              </div>
            </div>

            <div class="form-row">
              <span class="first-form-cell"></span>
              <div class="second-form-cell">
                <input type="checkbox" name="set_as_default" value="true">
                Use as my default payment
              </div>
            </div>

            <div id="add-card-form-button-container">
              <button>Add your card</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
