<main id="checkout-placed-view">
  <section id="checkout-order-placed">
    Your order has been placed!
  </section>

  <section id="checkout-placed-redirect">
    <a class="checkout-placed-link" href="/">
        Continue Shopping</a>?
    <a class="checkout-placed-link"
       href="/session"
       data-method="delete">
      Sign out</a>?
  </section>
</main>
