<main id="checkout-view">
  <section id="checkout-body">
    <ul id="shipping-address" class="checkout-steps">
      <li id="shipping-address-step-number" class="step-number">
        1
      </li>
      <li class="step-title-span">
        <span id="shipping-address-title" class="step-title">
          Shipping Address
        </span>
      </li>
      <li class="step-current-selection">
        <span id="shipping-address-current-selection">
          <span id="loading-address-current-selection">
            Loading...
          </span>
        </span>
      </li>
      <li class="step-button-span">
        <span id="shipping-address-button" class="step-button">
          Change Address
        </span>
      </li>
    </ul>

    <div id="shipping-address-options">
      <span id="loading-address-options">
        Loading...
      </span>
    </div>

    <ul id="payment-method" class="checkout-steps">
      <li id="payment-method-step-number" class="step-number">
        2
      </li>
      <li class="step-title-span">
        <span id="payment-method-title" class="step-title">
          Payment Method
        </span>
      </li>
      <li class="step-current-selection">
        <span id="payment-method-current-selection">
          <span id="loading-payment-current-selection">
            Loading...
          </span>
        </span>
      </li>
      <li class="step-button-span">
        <span id="payment-method-button" class="step-button">
          Change Card
        </span>
      </li>
    </ul>

    <div id="payment-method-options">
      <span id="loading-payment-options">
        Loading...
      </span>
    </div>

    <ul id="cart-items" class="checkout-steps">
      <li id="cart-items-step-number" class="step-number">
        3
      </li>
      <li class="step-title-span">
        <span id="cart-items-title" class="step-title">
          Cart Items
        </span>
      </li>
      <li class="step-current-selection">
        <span id="cart-items-current-quantity">
          <span id="loading-cart-current-quantity">
            Loading...
          </span>
        </span>
      </li>
      <li class="step-button-span">
        <span id="cart-items-button" class="step-button">
          View/Change Qty
        </span>
      </li>
    </ul>

    <div id="checkout-products">
      <span id="loading-checkout-products">
        Loading...
      </span>
    </div>
  </section>

  <section id="checkout-sidebar">
    <div id="checkout-sidebar-box">
      <form id="place-order-form"
            action="/checkout/add_purchased_products"
            method="post">
        <button id="checkout-place-order">
          Place your order
        </button>
      </form>

      <section class="checkout-sidebar-pricings">
        <div id="checkout-order-summary">
          Order Summary
        </div>
        <div id="checkout-price-details">
          <ul class="checkout-details-table">
            <li class="checkout-details-row">
              <div class="checkout-details-cell-one">
                Items(<span id="checkout-sidebar-items-quantity">0</span>):
              </div>
              <div class="checkout-details-cell-two">
                $<span id="checkout-sidebar-items-price">0.00</span>
              </div>
            </li>
            <li class="checkout-details-row">
              <div class="checkout-details-cell-one">
                Shipping & handling:
              </div>
              <div class="checkout-details-cell-two">
                $<span id="checkout-sidebar-items-ship-hand">0.00</span>
              </div>
            </li>
            <li class="checkout-details-row">
              <div class="checkout-details-cell-one">
              </div>
              <div id="checkout-details-divider"
                   class="checkout-details-cell-two">
              </div>
            </li>
            <li class="checkout-details-row">
              <div class="checkout-details-cell-one">
                Total before tax:
              </div>
              <div class="checkout-details-cell-two">
                $<span id="checkout-sidebar-items-subtotal">0.00</span>
              </div>
            </li>
            <li class="checkout-details-row">
              <div class="checkout-details-cell-one">
                Estimated tax to be collected:
              </div>
              <div class="checkout-details-cell-two">
                $<span id="checkout-sidebar-items-tax">0.00</span>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <div id="checkout-total-price-table">
        <div id="checkout-total-price-row">
          <div id="checkout-total-price-cell-one">
            Order Total:
          </div>
          <div id="checkout-total-price-cell-two">
            $<span id="checkout-total-price">0.00</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
