<span id="current-cart-units-clickable" class="current-selection-clickable">
  <span id="current-cart-units">
    <%%= units %>
  </span>
  Product Units:
  <span id="current-cart-units-price">$<%%= price %></span>
</span>
