<%% if (!_.isEmpty(address.attributes)) { %>
    <span id="current-address-name">
      <%%= address.escape("name").toUpperCase() %>,
    </span>
    <span id="current-address-street">
      <%%= address.escape("street").toUpperCase() %>,
    </span>
    <%% if (address.escape("apt")) { %>
      <span id="current-address-apt">
        APT. <%%= address.escape("apt").toUpperCase() %>,
      </span>
    <%% } %>
    <span id="current-address-city">
      <%%= address.escape("city").toUpperCase() %>,
    </span>
    <span id="current-address-state">
      <%%= address.escape("state").toUpperCase() %>,
    </span>
    <span id="current-address-zip">
      <%%= address.escape("zip").toUpperCase() %>
    </span>
<%% } else { %>
    <span id="no-address-current-selection">
      You haven't added any shipping addresses yet.
    </span>
<%% } %>
