<span id="current-address-clickable" class="current-selection-clickable">
  <%% if (!_.isEmpty(address.attributes)) { %>
      <span id="current-address-name">
        <%%= capitalize(address.escape("name")) %>,
      </span>
      <span id="current-address-street">
        <%%= capitalize(address.escape("street")) %>,
      </span>
      <%% if (address.escape("apt")) { %>
        <span id="current-address-apt">
          Apt. <%%= address.escape("apt").toUpperCase() %>,
        </span>
      <%% } %>
      <span id="current-address-city">
        <%%= capitalize(address.escape("city")) %>,
      </span>
      <span id="current-address-state">
        <%%= address.escape("state") %>,
      </span>
      <span id="current-address-zip">
        <%%= address.escape("zip") %>
      </span>
  <%% } else { %>
      <span id="no-address-current-selection">
        You haven't added any shipping addresses yet.
      </span>
  <%% } %>
</span>
