<main id="sign-in-before-checkout">
  You must
  <a href="/session/new" class="sign-in-or-up">
    sign in</a>
  or
  <a href="/users/new" class="sign-in-or-up">
    sign up</a>
  before you can checkout.
</main>
