<form id="payment-method-form" action="/checkout/select_card" method="post">
  <div id="payment-method-form-header-table">
    <ul>
      <li id="payment-method-form-header-title-cell">
        <span id="payment-method-header-title">
          Your credit and debit cards
        </span>
      </li>
      <li id="payment-method-form-header-name-cell">
        <span id="payment-method-header-name">
          Name on card
        </span>
      </li>
      <li id="payment-method-form-header-expire-cell">
        <span id="payment-method-header-expire">
          Expires on
        </span>
      </li>
    </ul>
  </div>
  <%% if (cards.length < 1) { %>
        <span id="no-card-selection">
          You don't have any saved credit or debit cards.
        </span>
      </form>
      <div id="payment-add-first-card">
        Add a credit or debit card?
      </div>
  <%% } else { %>
      <%% cards.each( function(card){ %>
        <ul>
          <li class="card-table">
            <ul>
              <li class="first-card-cell">
                <span class="card-radio">
                  <input type="radio"
                         name="cardId"
                         value="<%%= card.escape("id") %>">
                </span>
                <span class="card-brand">
                  <%%= card.escape("brand") %>
                </span>
                <span class="card-last4">
                  ending in
                  <span class="card-number">
                    <%%= card.escape("last4") %>
                  </span>
                </span>
              </li>
              <li class="second-card-cell">
                <span class="card-name">
                  <%%= capitalize(card.escape("name")) %>
                </span>
              </li>
              <li class="third-card-cell">
                <span class="card-exp">
                  <%% if (card.escape("exp_month").length === 1) { %>
                      <%% var exp_month = "0" + card.escape("exp_month") %>
                  <%% } else { %>
                      <%% var exp_month = card.escape("exp_month") %>
                  <%% } %>
                  <%%= exp_month %>/<%%= card.escape("exp_year") %>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      <%% }) %>
      <div id="payment-method-form-button-table">
        <ul>
          <li id="payment-method-button-cell">
            <button id="payment-method-form-button">
              Use this payment method
            </button>
          </li>
          <li id="payment-add-card-cell">
            <div id="payment-add-card">
              Add another card?
            </div>
          </li>
        </ul>
      </div>
  <%% }; %>
</form>
