<form id="shipping-address-form" action="index.html" method="post">
  <div id="shipping-address-form-header-table">
    <div id="shipping-address-form-header-title-cell">
      <span id="shipping-address-header-title">
        Your addresses
      </span>
    </div>
  </div>
  <%% addresses.each( function (address) { %>
    <ul>
      <li class="address-table">
        <ul>
          <li class="address-info-cell">
            <span class="address-radio">
              <input type="radio"
                     name="addressId"
                     value="<%%= address.escape("id") %>">
            </span>
            <span class="address-name">
              <%%= address.escape("name") %>,
            </span>
            <span class="address-street">
              <%%= address.escape("street") %>,
            </span>
            <%% if (address.escape("apt")) { %>
              <span class="address-apt">
                <%%= address.escape("apt") %>,
              </span>
            <%% } %>
            <span class="address-city">
              <%%= address.escape("city") %>,
            </span>
            <span class="address-state">
              <%%= address.escape("state") %>,
            </span>
            <span class="address-zip">
              <%%= address.escape("zip") %>
            </span>
          </li>
        </ul>
      </li>
    </ul>
  <%% }) %>
  <div id="shipping-address-form-button-table">
    <ul>
      <li id="shipping-address-button-cell">
        <button id="shipping-address-form-button">
          Use this shipping address
        </button>
      </li>
      <li id="add-another-address-cell">
        <div id="add-another-address">
          Add another address?
        </div>
      </li>
    </ul>
  </div>
</form>
