<main id="checkout">
  <header id="checkout-header">
    <ul id="header-table">
      <li id="logo-cell">
        <a href="/">
          <img class="logo"
               src="<%= image_url("hippolyta_logo_black.png") %>"
               alt="hippolyta logo" />
        </a>
      </li>

      <li id="header-text-cell">
        Checkout
      </li>

      <li id="checkout-spacer-cell"></li>
    </ul>
  </header>

</main>
