<main id="current-user-product-new">
  <form id="product-new-form" action="index.html" method="post">
    <!-- auth_token -->
    <ul>
      <li>
        <span>My Product's Name:</span>
        <input type="text" name="name" value="">
      </li>
      <li>
        <span>My Product's Sale Price</span>
        <input type="text" name="sale_price" value="">
        <div id="name">
          (amount that you intend to sell your product for in USD):
        </div>
      </li>
      <li>
        <span>My Product's Original Price (optional)</span>
        <input type="text" name="original_price" value="">
        <div id="name">
           (used to calculate how much your customers are saving by buying your product at Sale Price):
        </div>
      </li>
      <li>
        <span>Quantity of My Product:</span>
        <input type="text" name="quantity" value="">
      </li>
      <li>
        <span>Description of My Product (optional):</span>
        <input type="text" name="description" value="">
      </li>
      <li>
        <span>Image for My Product:</span>
        <input id="input-picture-file" type="file" name="picture">
      </li>
      <li>
        <img src="" id="picture-preview" style="max-width: 200px; max-height: 200px;"/>
      </li>
    </ul>

    <button>Add My Product to Hippolyta.com!</button>
  </form>
</main>
