<main id="current-user-product-new">
  <form id="product-new-form" action="" method="post">
    <ul>
      <li id="product-new-form-errors" class="product-new-form-row">
        <div id="product-new-form-error-message">
          There was an error while saving your product.
          Please check to make sure that your form information is complete,
          and then try again.
        </div>
      </li>
      <li class="product-new-form-row">
        <div>My Product's Name:</div>
        <input type="text" name="name" value="">
      </li>
      <li class="product-new-form-row">
        <div>My Product's Sale Price</div>
        <div>
          (amount that you intend to sell your product for in USD):
        </div>
        <input type="text" name="sale_price" value="">
      </li>
      <li class="product-new-form-row">
        <div>My Product's Original Price (optional)</div>
        <div>
          (used to calculate how much your customers are saving
          by buying your product at Sale Price):
        </div>
        <input type="text" name="original_price" value="">
      </li>
      <li class="product-new-form-row">
        <div>Quantity of My Product:</div>
        <input type="text" name="quantity" value="">
      </li>
      <li class="product-new-form-row">
        <div>Description of My Product (optional):</div>
        <input type="text" name="description" value="">
      </li>
      <li class="product-new-form-row">
        <div>Image for My Product:</div>
        <input id="input-picture-file" type="file" name="picture">
      </li>
      <li class="product-new-form-row">
        <img src="" id="picture-new-preview"/>
      </li>
    </ul>

    <button id="product-new-form-button">
      Add My Product to Hippolyta.com!
    </button>
  </form>
</main>
