<!-- auth_token -->
<ul>
  <li>
    <label>My Product's Name:</label>
    <input type="text" name="name" value="">
  </li>
  <li>
    <label>My Product's Sale Price (amount that you intend to sell your product for in USD):</label>
    <input type="text" name="sale_price" value="">
  </li>
  <li>
    <label>My Product's Original Price (optional - used to calculate how much your customers are saving by buying your product at Sale Price):</label>
    <input type="text" name="original_price" value="">
  </li>
  <li>
    <label>Quantity of My Product:</label>
    <input type="text" name="quantity" value="">
  </li>
  <li>
    <label>Description of My Product (optional):</label>
    <input type="text" name="description" value="">
  </li>
  <li>
    <label>Image for My Product:</label>
    <input id="input-picture-file" type="file" name="picture">
  </li>
  <li>
    <img src="" id="picture-preview" style="max-width: 200px; max-height: 200px;"/>
  </li>
</ul>

<button>Add My Product to Hippolyta.com!</button>
