<!-- auth_token -->

<label>
  My Product's Name:
  <input type="text" name="name" value="">
</label>
<br>
<br>

<label>
  My Product's Sale Price (amount that you intend to sell your product for in USD):
  <input type="text" name="sale_price" value="">
</label>
<br>
<br>

<label>
  My Product's Original Price (optional - used to calculate how much your customers are saving by buying your product at Sale Price):
  <input type="text" name="original_price" value="">
</label>
<br>
<br>

<label>
  Quantity of My Product:
  <input type="text" name="quantity" value="">
</label>
<br>
<br>

<label>
  Description of My Product (optional):
  <input type="text" name="description" value="">
</label>
<br>
<br>

<label>
  Image for My Product:
  <input id="input-picture-file" type="file" name="picture">
</label>
<br>
<br>

<img src="" id="picture-preview"/>
<br>
<br>

<button>Add My Product to Hippolyta.com!</button>
