<main id="product-show" class="group">

  <%% if (product.escape("last_query")) { %>
    <header>
      <a href="/#search_results">
        <div id="back-arrow">
        </div>Back
        to search results for
        "<span><%%= product.escape("last_query") %></span>"
      </a>
    </header>
  <%% } %>

  <div id="product">
    <ul id="picture-cell">
      <li id="picture">
        <img src="<%%= product.escape("large_picture_url") %>" alt="product image"/>
      </li>
    </ul>

    <ul id="info-cell">
      <li id="name">
        <%%= product.escape("name") %>
      </li>

      <li id="price-tables">
        <%% var salePrice = (product.escape("sale_price") * 1).toFixed(2) %>
        <%% if (product.escape("original_price")) { %>
            <%% var originalPrice = (product.escape("original_price") * 1).toFixed(2) %>
            <%% var amountSaved = (originalPrice - salePrice).toFixed(2) %>
            <%% var percentSaved = (100 / (salePrice / amountSaved)).toFixed(0) %>
            <ul class="prices">
              <li class="price-type">
                List Price:
              </li>

              <li id="original-price">
                $<%%= originalPrice %>
              </li>
            </ul>

            <ul id="price" class="prices">
              <li class="price-type">
                Price:
              </li>

              <li id="sale-price" class="red-prices">
                $<%%= salePrice %>
              </li>
            </ul>

            <ul class="prices">
              <li class="price-type">
                You save:
              </li>

              <li class="red-prices">
                $<%%= amountSaved %>
                (<%%= percentSaved %>%)
              </li>
            </ul>
        <%% } else { %>
            <ul id="price" class="prices">
              <li class="price-type-sale-only">
                Price:
              </li>

              <li id="sale-price" class="red-prices">
                $<%%= salePrice %>
              </li>
            </ul>
        <%% } %>
      </li>


      <%% var quantity = product.escape("quantity") %>
      <%% if (quantity < 1) { %>
          <li id="out-of-stock">
            Out of Stock
          </li>
      <%% } else if (quantity > 25) { %>
          <li id="in-stock">
            In Stock
          </li>
      <%% } else { %>
          <li id="left-in-stock">
            <%%= quantity %> left in stock.
          </li>
      <%% } %>

      <li id="seller-name">
        Sold by <%%= product.escape("seller_name") %>
      </li>
    </ul>

    <ul id="add-to-cart-cell">
      <li>
        <form id="add-to-cart-form"
              action="/api/cart_products/add/<%%= product.id %>"
              method="post">

          Qty: <input type="number"
                 min="0"
                 max="<%%= product.escape("quantity") %>"
                 name="cart_product[quantity]"
                 value="1">
          <br>
          <button id="add-to-cart-button">
            <div id="add-to-cart-image">
              <img id="cart-image"
                   src="<%= image_url("cart-button.png") %>"
                   alt="cart-image" />
            </div>
            <div id="add-to-cart-text">
              Add to Cart
            </div>
          </button>
        </form>
      </li>
    </ul>
  </div>

  <div id="description">
    <ul>
      <%% if (product.escape("description")) { %>
          <li>
            <div id="description-title">
              Product Description:
            </div>

            <span id="description-text">
              <%%= product.escape("description") %>
            </span>
          </li>
      <%% } else { %>
          <li>
            <div id="description-title">
              Product Description:
            </div>

            <span id="description-text">
              No specific description was given by the seller.
            </span>
          </li>
      <%% } %>
    </ul>
  </div>
  <div id="reviews">
    <div id="review-title">
      Reviews:
    </div>
    <%% if (reviews.length > 0) { %>
        <ul>
          <%% reviews.each( function (review) { %>
            <li>
              <span id="review-text">
                <%%= review.escape("text") %>
              </span>
            </li>
          <%% }) %>
        </ul>
    <%% } else { %>
        <span id="review-text">
          There are no customer reviews for this item.
        </span>
    <%% } %>
  </div>
</main>
