<main id="user-private-profile">
  <% if (!currentUser.escape("email") || !currentUser.escape("name")) { %>
      <div id="sign-in-to-view-profile">
        <a href="/session/new" class="sign-in-or-up">
          Sign in</a>
        or
        <a href="/users/new" class="sign-in-or-up">
          sign up</a>
        to view and edit your profile.
      </div>
  <% } else { %>
    <section id="user-private-profile-header">
      <div id="private-profile-header-table">
        <div class="private-profile-header-row">
          <div class="private-profile-header-cell-one">
            <a href="/#current_user/edit">
            <img id="private-profile-header-image"
                 src="<%= currentUser.escape("medium_picture_url") %>"
                 alt="<%= currentUser.escape("name") %>'s picture/logo"/>
            </a>
          </div>
          <div class="private-profile-header-cell-two">
            <span id="private-profile-header-name">
              <%= currentUser.escape("name") %>'s Hippolyta
            </span>
            <span id="private-profile-header-date">
              Valued Customer since
              <%= dateString(new Date(currentUser.escape("created_at"))) %>
            </span>
          </div>
        </div>
      </div>
    </section>

    <section id="user-private-profile-body">
      <div id="private-profile-body-table">
        <div class="private-profile-body-row">
          <div class="private-profile-body-cell-one">
            <span id="user-private-profile-products"
                  class="user-private-profile-links">
              <a href="#current_user/products">
                My Products</a></span>
            <span id="user-private-profile-purchases"
                  class="user-private-profile-links">
              <a href="#current_user/purchase_products">
                My Purchases</a></span>
          </div>
        </div>
      </div>
    </section>
  <% } %>
</main>
