<section id="user-private-profile">
  <% if (!currentUser.escape("email") || !currentUser.escape("name")) { %>
      <div id="sign-in-to-view-profile">
        <a href="/session/new" class="sign-in-or-up">
          Sign in</a>
        or
        <a href="/users/new" class="sign-in-or-up">
          sign up</a>
        to view and edit your profile.
      </div>
  <% } else { %>
      <img id="user-image"
           src="<%= currentUser.escape("small_picture_url") %>"
           alt="<%= currentUser.escape("name") %>'s picture/logo"/>

      <%= currentUser.escape("name") %>'s Hippolyta

      Customer since <%= new Date(currentUser.escape("created_at")) %>

      <a href="#current_user/products">My Products</a>
  <% } %>
</section>
