#cart-show #empty-cart {
  padding: 20px;
  font-size: 14px;
}

#cart-show #empty-cart #empty-cart-header {
  font-size: 24px;
  margin: 0px 0px 20px 0px;
}

#cart-show #empty-cart #empty-cart-ul {
  padding-left: 20px;
}

#cart-show #empty-cart .empty-cart-li {
  margin: 0px 0px 10px 0px;
}

#cart-show #empty-cart .empty-cart-li a {
  color: #0066c0;
  text-decoration: underline;
}

#cart-show #empty-cart .empty-cart-li a:hover {
  color: #c45500;
}

#cart-show #populated-cart {
  display: table;
  min-width: 920px;
  width: 100%;
}

#cart-show #main {
  display: table-cell;
  vertical-align: top;
  white-space: normal;
  padding: 20px 0px 20px 20px;
  min-width: 555px;
}

#cart-show #populated-cart header {
  font-size: 20px;
  font-weight: bold;
}

#cart-show #populated-cart #column-labels {
  display: table;
  width: 100%;
  font-size: 13px;
  color: #555555;
  border-bottom: 1px solid #dddddd;
}

#cart-show #populated-cart #column-labels li {
  display: table-cell;
  vertical-align: center;
}

#cart-show #column-labels #cart-spacer {
  background: white;
}

#cart-show #populated-cart #column-labels #price-label,
#cart-show .product .price-cell {
  width: 20%;
}

#cart-show #populated-cart #column-labels #quantity-label,
#cart-show .product .quantity-cell {
  width: 80px;
  text-align: right;
}

#cart-show .product {
  display: table;
  width: 100%;
}

#cart-show .product ul {
  display: table-cell;
  vertical-align: top;
  border-bottom: 1px solid #dddddd;
  padding: 20px 0px;
}

#cart-show .product .image-cell {
  width: 100px;
  text-align: center;
  padding-right: 20px;
}

#cart-show .product .name-cell {
  padding-right: 20px;
}

#cart-show .product .name-cell .name-li {
  font-size: 16px;
  font-weight: bold;
  color: #0066c0;
}

#cart-show .product .name-cell .name-li:hover a {
  color: #e47911;
  text-decoration: underline;
}

#cart-show .product .name-cell .sold-by {
  font-size: 14px;
  padding: 5px 0px;
}

#cart-show .product .name-cell .in-stock {
  font-size: 13px;
  color: #008a00;
  padding: 5px 0px;
}

#cart-show .product .name-cell .left-in-stock {
  font-size: 13px;
  color: #cd950c;
  padding: 5px 0px;
}

#cart-show .product .name-cell .out-of-stock {
  font-size: 13px;
  color: #b12704;
  padding: 5px 0px;
}

#cart-show .product .name-cell .delete {
  font-size: 12px;
  color: #2f6ac9;
}
#cart-show .product .name-cell .delete:hover {
  color: #e47911;
  text-decoration: underline;
}

#cart-show .product .price-cell .price-total {
  display: block;
  font-weight: bold;
  color: #b12704;
  margin-bottom: 10px;
}

#cart-show .product .price-cell .saved-total {
  display: block;
  font-size: 12px;
  color: #64645f;
}

#cart-show .product .quantity-cell button {
  font-size: 12px;
  color: #2f6ac9;
  margin: 5px 5px 0px 0px;
}

#cart-show .product .quantity-cell button:hover {
  color: #e47911;
  text-decoration: underline;
}

#cart-show .product .quantity-cell input {
  width: 60px;
}

#cart-show #side-bar {
  display: table-cell;
  vertical-align: top;
  width: 345px;
}

#cart-show #side-bar #checkout-box {
  display: block;
  width: 250px;
  text-align: center;
  padding: 30px 20px;
  margin: 20px 0px 0px 28px;
  background: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

#cart-show #side-bar #subtotal {
  font-size: 16px;
  font-weight: bold;
}

#cart-show #side-bar #subtotal #subtotal-span {
  color: #b12704;
}

#cart-show #side-bar #checkout-button a {
  display: block;
  font-size: 13px;
  margin: 40px auto 0px auto;
  padding: 10px 0px 10px 0px;
  background: linear-gradient(to bottom, #f8e1a7, #f8e1a7 10%, #eebb39);
  border: 1px solid #c89411;
  border-radius: 3px;
}

#cart-show #side-bar #checkout-button a:hover {
  background: linear-gradient(to bottom, #f5d78b, #f5d78b 10%, #edb72c);
}
