#cart-show #populated-cart {
  min-width: 920px;
}

#cart-show #populated-cart header {
  font-size: 20px;
  font-weight: bold;
}

#cart-show #populated-cart #column-labels li {
  display: inline;
}

#cart-show #main-container {
  min-width: 640px;
  height: auto;
}

#cart-show #main {
  float: left;
}

#cart-show #side-bar {
  display: block;
  float: right;
  white-space: nowrap;
  text-align: center;
  padding: 20px;
  margin: 20px 25px;
  background: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

#cart-show #side-bar #subtotal {
  font-size: 17px;
  font-weight: bold;
}

#cart-show #side-bar #subtotal span {
  color: #b12704;
}

#cart-show #side-bar #checkout-button a {
  display: block;
  font-size: 13px;
  margin: 20px auto 0px auto;
  padding: 10px 0px 10px 0px;
  background: linear-gradient(to bottom, #f8e1a7, #f8e1a7 10%, #eebb39);
  border: 1px solid #c89411;
  border-radius: 3px;
}

#cart-show #side-bar #checkout-button a:hover {
  background: linear-gradient(to bottom, #f5d78b, #f5d78b 10%, #edb72c);
}
