/* --- HEADER --- */

#checkout #header-table {
  display: table;
  min-width: 920px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0px;
  background: linear-gradient(to bottom, #ffffff, #ffffff 55%, #f1f1f1);
  border-bottom: 1px solid #dddddd;
}

#checkout #logo-cell {
  display: table-cell;
  width: 200px;
}

#checkout #header-text-cell {
  display: table-cell;
  font-size: 30px;
  text-align: center;
}

#checkout #checkout-spacer-cell {
  display: table-cell;
  width: 200px;
}

/* --- VIEW --- */

#checkout-view {
  padding: 40px;
}

#checkout-view > .checkout-steps {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px; 
}

#checkout-view > .checkout-steps:hover {
  cursor: pointer;
}

#checkout-view .checkout-steps > .step-span {
  padding-left: 12px;
  word-spacing: 4px;
}
