/* --- HEADER --- */

#checkout #header-table {
  display: table;
  min-width: 1020px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0px;
  background: linear-gradient(to bottom, #ffffff, #ffffff 55%, #f1f1f1);
  border-bottom: 1px solid #dddddd;
}

#checkout #logo-cell {
  display: table-cell;
  width: 200px;
}

#checkout #header-text-cell {
  display: table-cell;
  font-size: 30px;
  text-align: center;
}

#checkout #checkout-spacer-cell {
  display: table-cell;
  width: 200px;
}

/* --- VIEW BEFORE ORDER PLACED --- */

/* --- BODY --- */

#checkout-view {
  display: table;
  width: 100%;
}

#checkout-view #checkout-body {
  display: table-cell;
  position: relative;
  min-width: 620px;
  vertical-align: top;
  padding: 15px 0px 40px 40px;
}

#checkout-view .checkout-steps {
  display: table;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 0px;
  border-top: 1px solid #e7e7e7;
}

#checkout-view .checkout-steps:first-child {
  border-top: none;
}

#checkout-view #review-cart,
#checkout-view #review-cart-dropped {
  padding-bottom: 30px;
}

#checkout-view .checkout-steps > .step-number {
  display: table-cell;
  vertical-align: middle;
  width: 24px;
}

#checkout-view .checkout-steps > .step-title-span {
  display: table-cell;
  vertical-align: middle;
  word-spacing: 4px;
}

#checkout-view .checkout-steps > .step-title-span > .step-title {
  cursor: pointer;
}

#checkout-view .checkout-steps > .step-button-span {
  display: table-cell;
  width: 150px;
  vertical-align: middle;
  text-align: center;
  color: #121212;
}

#checkout-view .checkout-steps > .step-button-span > .step-button {
  display: block;
  width: 110px;
  margin-left: 28px;
  padding: 2px 0px;
  font-weight: normal;
  font-size: 13px;
  border: 1px solid #8d9096;
  border-radius: 3px;
  background: linear-gradient(to bottom, #fbfbfc, #e7e9ec);
  cursor: pointer;
}

/* --- PAYMENT METHODS --- */



/* --- CHECKOUT PRODUCTS --- */

#checkout-view #checkout-products {
  display: none;
}

#checkout-view .checkout-product {
  display: table;
  vertical-align: top;
  width: 100%;
  padding-bottom: 20px;
}

#checkout-view .checkout-product-image-cell {
  display: table-cell;
  width: 100px;
  height: 100px;
  padding-right: 20px;
  text-align: center;
}

#checkout-view .checkout-product-info-cell {
  display: table-cell;
}

#checkout-view .checkout-product-name {
  font-weight: bold;
  padding-bottom: 5px;
}

#checkout-view .in-stock {
  font-size: 13px;
  color: #008a00;
  padding-bottom: 5px;
}

#checkout-view .left-in-stock {
  font-size: 13px;
  color: #cd950c;
  padding-bottom: 5px;
}

#checkout-view .out-of-stock {
  font-size: 13px;
  color: #b12704;
  padding-bottom: 5px;
}

#checkout-view .checkout-product-quantity-input {
  font-size: 13px;
  width: 40px;
}

#checkout-view .checkout-product-quantity-update {
  font-size: 12px;
  color: #2f6ac9;
}

#checkout-view .checkout-product-quantity-update:hover {
  color: #e47911;
  text-decoration: underline;
}

#checkout-view .checkout-product-seller {
  font-size: 12px;
  color: #555555;
}

/* --- MENU CHANGES --- */

#checkout-view #no-card-selection {
  display: block;
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

#checkout-view #payment-method-options {
  display: none;
  margin-bottom: 30px;
}

#checkout-view #payment-method-dropped {
  color: #c45500;
}

#checkout-view #payment-add-card {
  cursor: pointer;
  color: #0066c0;
  margin: 25px;
}

#checkout-view #payment-add-card:hover {
  color: #c45500;
  text-decoration: underline;
}

#checkout-view #add-card-form-overlay {
  display: none;
  position: absolute;
  min-width: 1020px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url("modal-tint-75-percent.png");
}

#checkout-view #add-card-relative-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
}

#checkout-view #add-card-modal {
  position: absolute;
  width: 700px;
  height: 300px;
  background: #ffffff;
  border: 1px solid #3f3f3f;
  border-radius: 5px;
}

#checkout-view .top-bar {
  display: block;
  background: linear-gradient(to bottom, #fafafa, #fafafa 20%, #ebebeb);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#checkout-view .top-bar-title {
  display: inline-block;
  vertical-align: middle;
}

#checkout-view .top-bar-x {
  display: block;
  float: right;
  font-size: 25px;
  padding: 3px 10px;
  cursor: pointer;
}

#checkout-view #review-cart-dropped {
  color: #c45500;
}

/* --- SIDEBAR --- */

#checkout-view #checkout-sidebar {
  display: table-cell;
  min-width: 300px;
  width: 300px;
  vertical-align: top;
  padding: 40px 40px 0px 20px;
}

#checkout-view #checkout-sidebar-box {
  padding: 15px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

#checkout-view .checkout-sidebar-pricings {
  display: block;
  padding: 10px 0px;
  margin: 15px 0px;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}

#checkout-view #checkout-place-order {
  display: block;
  font-size: 13px;
  text-align: center;
  margin: 0px auto;
  padding: 10px 0px;
  background: linear-gradient(to bottom, #f8e1a7, #f8e1a7 10%, #eebb39);
  border: 1px solid #c89411;
  border-radius: 3px;
}

#checkout-view #checkout-place-order:hover {
  background: linear-gradient(to bottom, #f5d78b, #f5d78b 10%, #edb72c);
}

/* --- VIEW AFTER CHECKOUT --- */

#checkout-placed-view {
  display: block;
  min-width: 840px;
  padding: 40px;
  text-align: center;
}

#checkout-placed-view #checkout-order-placed {
  display: block;
  font-size: 24px;
  margin-bottom: 30px;
}

#checkout-placed-view .checkout-placed-link {
  text-decoration: underline;
}

#checkout-placed-view .checkout-placed-link:hover {
  color: #2f6ac9;
}
