#current-user-product-new {
  min-width: 920px;
}

#current-user-product-new #product-new-form {
  padding: 40px 60px;
}

#current-user-product-new #product-new-form-errors {
  display: none;
}

#current-user-product-new #product-new-form-error-message {
  display: inline-block;
  width: auto;
  font-weight: bold;
  font-size: 16px;
  color: #b12704;
  padding: 15px 20px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

#current-user-product-new .product-new-form-row {
  padding-bottom: 20px;
}

#current-user-product-new #picture-new-preview {
  max-width: 200px;
  max-height: 200px;
}

#current-user-product-new #product-new-form-button {
  padding: 10px 15px;
  margin-right: 5px;
  background: linear-gradient(to bottom, #f8e1a7, #f8e1a7 10%, #eebb39);
  border: 1px solid #c89411;
  border-radius: 3px;
}

#current-user-product-new #product-new-form-button:hover {
  background: linear-gradient(to bottom, #f5d78b, #f5d78b 10%, #edb72c);
}
