#user-private-profile {
  min-width: 920px;
  font-size: 17px;
}

#user-private-profile #sign-in-to-view-profile {
  font-size: 20px;
  text-align: center;
  padding-top: 60px;
}

#user-private-profile #sign-in-to-view-profile > .sign-in-or-up {
  font-size: 22px;
  color: #005bac;
}

#user-private-profile #sign-in-to-view-profile > .sign-in-or-up:hover {
  color: #e47911;
  text-decoration: underline;
}

#user-private-profile #user-private-profile-header {
  display: block;
  padding: 40px;
}

#user-private-profile #private-profile-header-table {
  display: table;
  width: 100%;
}

#user-private-profile .private-profile-header-row {
  display: table-row;
}

#user-private-profile .private-profile-header-cell-one {
  display: table-cell;
  vertical-align: middle;
  width: 200px;
}

#user-private-profile .private-profile-header-cell-two {
  display: table-cell;
  vertical-align: middle;
}

#user-private-profile #private-profile-header-image {
  cursor: pointer;
}

#user-private-profile #private-profile-header-name {
  display: block;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 0px 25px 50px;
}

#user-private-profile #private-profile-header-date {
  font-size: 20px;
  padding-left: 50px;
  white-space: nowrap;
}

#user-private-profile #user-private-profile-body {
  padding: 0px 40px 40px 40px;
}

#user-private-profile #private-profile-body-table {
  display: table;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 8px;
}

#user-private-profile .private-profile-body-row {
  display: table-row;
  height: 40px;
}

#user-private-profile .private-profile-body-cell-one {
  display: table-cell;
  vertical-align: middle;
  /*text-align: center;*/
}

#user-private-profile #user-private-profile-products {
  color: #0066c0;
  text-decoration: underline;
  margin-left: 40px;
}

#user-private-profile #user-private-profile-products:hover {
  color: #c45500;  
}
