#new-review {
  min-width: 920px;
  font-size: 16px;
}

#new-review-container {
  padding: 20px;
}

#new-review-header {
  font-size: 22px;
  font-weight: bold;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #cccccc;
}

#new-review-header-title {
  display: block;
  padding: 0px 0px 20px 0px;
}

#new-review-purchased-product-picture {
  margin: 0px 20px 0px 0px;
}

#new-review-purchased-product-name {
  font-weight: normal;
}

#new-review-body {
  padding: 20px;
}

#new-review-star-rating-title {
  display: block;
  padding: 0px 0px 5px 0px;
}

#new-review-star-rating > span {
  font-size: 22px;
  cursor: pointer;
}

.new-review-full-star {
  color: #e89607;
}

.new-review-empty-star {
  color: #bfbfbf;
}

#new-review-write-review {
  padding: 20px 0px 0px 0px;
}

#new-review-write-review-title {
  display: block;
  padding: 0px 0px 10px 0px;
}

#new-review-form-button {
  padding: 5px 10px;
  margin: 10px 0px 0px 0px;
  background: linear-gradient(to bottom, #f8e1a7, #f8e1a7 10%, #eebb39);
  border: 1px solid #c89411;
  border-radius: 3px;
}

#new-review-form-button:hover {
  background: linear-gradient(to bottom, #f5d78b, #f5d78b 10%, #edb72c);
}
