#product-show {
  width: 920px;
}

#product-show #picture {
  float: left;
  margin: 0px 20px 0px 20px;
}

#product-show li {
  height: auto;
  margin: 20px 0px 0px 0px;
}

#product-show form {
  margin: 20px 0px 0px 20px
}
