#product-show {
  min-width: 920px;
}

#product-show header {
  font-size: 13px;
  color: #767676;
  padding: 10px 0px 9px 10px;
  background: #f3f3f3;
  border-bottom: 1px solid #dddddd;
}

#product-show #back-arrow {
  display: inline-block;
  vertical-align: -1px;
  width: 5px;
  height: 0px;
  margin-right: 5px;
  border-top: 5px solid #f3f3f3;
  border-right: 5px solid #767676;
  border-bottom: 5px solid #f3f3f3;
}

#product-show header a:hover {
  color: #c45500;
  text-decoration: underline;
}

#product-show header a:hover #back-arrow {
  border-right: 5px solid #c45500;
}

#product-show header span {
}

#product-show #product {
  display: table;
  width: 100%;
}

#product-show #picture-cell {
  display: table-cell;
  vertical-align: top;
  width: 340px;
}

#product-show #picture {
  margin: 20px;
}

#product-show #name {
  font-size: 20px;
  margin: 20px 0px 0px 0px;
}

#product-show #info-cell {
  display: table-cell;
  vertical-align: top;
}

#product-show #add-to-cart-cell {
  display: table-cell;
  vertical-align: top;
  width: 125px;
}
