#search-results .image {
  display: block;
  float: left;
  width: 200px;
  margin: 0px 20px;
}

#search-results .image img {
  display: block;
  margin: 0px auto;
}

#search-results .result {
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid lightgrey;
}
