/* --- HEADER --- */

.root-header {
  min-width: 807px;
  max-width: 100%;
  height: auto;
  background: #232f3e;
  overflow: hidden;
}

/* --- TOP --- */

.top {
  display: table;
  width: 100%;
}

#logo-block, #search-block, #space-block {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.top #logo-block {
  width: 135px;
  padding: 10px 50px 0px 20px;
}

.top #search-block {
  min-width: 350px;
  width: 100%;
  color: #005FC9;
  padding: 5px 400px 0px 0px;
}

.top #search-block input {
  width: 100%;
  padding: 5px;
}

/* --- BOTTOM --- */

.bottom {
  display: table;
  width: 100%;
  height: auto;
  color: white;
  font-size: 13px;
}

#left, #middle, #right {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.bottom #left {
  min-width: 205px;
}

.bottom #middle {
  min-width: 425px;
}

.bottom #middle a:hover {
  text-decoration: underline;
}

.bottom #right {
  width: 325px;
}

.bottom #right li {
  display: inline-block;
}

.bottom #right a {
  display: block;
}

.bottom #right #account {
  padding: 5px 20px 10px 20px;
}

/*--- MAIN ---*/

.large-ad {
  display: block;
  min-width: 807px;
  height: auto;
  background: #11120d;
}

.large-ad img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}
