/* --- HEADER --- */

.root-header {
  width: auto;
}

.root-header li {
  float: left;
}

.root-header .logo {
  padding: 10px 0 0 20px;;
}

.root-header .links li {
  margin: 23px 20px 10px 40px;
  font-size: 12px;
  color: #005FC9;
}

.root-header .links .sign-out {
  float: right;
}

.search-button {

}

.search-form {
  display: block;
  width: 445px;
  height: auto;
  margin: 20px auto;
}

.search-form input {
  width: 350px;
  padding: 5px;
}

/*--- MAIN ---*/

.large-ad {
  display: block;
  width: auto;
  height: auto;
  background: #00200C;
}

.large-ad img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}
