/* --- HEADER --- */

.root-header {
  min-width: 920px;
  max-width: 100%;
  height: auto;
  background: #232f3e;
}

/* --- HEADER-TOP --- */

.top {
  display: table;
  width: 100%;
}

.top li {
  display: inline;
}

#logo-block, #search-block {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.top #logo-block {
  width: 135px;
  padding: 10px 50px 0px 20px;
}

.top #search-block {
  color: #7a7a7a;
  padding: 5px 375px 0px 0px;
}

.top #search-block form {
  min-width: 340px;
}

.top #search-block input {
  width: 100%;
  padding: 5px;
}

.top #search-block #search-label {
  font-weight: bold;
  padding: 5px 9px 6px 10px;
  background: #f3f3f3;
  border-right: 1px solid #cdcdcd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.top #search-block #search-button {
  position: absolute;
  padding: 4px 6px 3px 6px;
  font-weight: bold;
  background: #febd69;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.top #search-block #search-button img{
  width: 18px;
}

/* --- HEADER-BOTTOM --- */

.bottom {
  display: table;
  width: 100%;
  height: auto;
  color: white;
  font-size: 13px;
}

#left, #middle, #right {
  display: table-cell;
  vertical-align: middle;
}

.bottom #left {
  min-width: 205px;
}

.bottom #middle {
  min-width: 420px;
}

.bottom #middle a {
  color: #cccccc;
}

.bottom #middle a:hover {
  text-decoration: underline;
}

.bottom #middle #hippolyta {
  margin-right: 30px;
}

.bottom #right {
  width: 330px;
  height: 49px;
  font-size: 14px;
  font-weight: bold;
}

.bottom #right li {
  display: inline-block;
}

.bottom #right a {
  display: block;
  vertical-align: top;
}

.bottom #right #account {
  padding: 7px 20px 9px 20px;
}

.bottom #right #account:hover {
  padding: 6px 19px 8px 19px;
  border-top: 1px solid #4f5965;
  border-right: 1px solid #4f5965;
  border-bottom: 1px solid #4f5965;
  border-left: 1px solid #4f5965;
  border-radius: 3px;
  box-shadow: 0px 1px 0px 0px #90969e;
}

.bottom #right #top-line {
  font-weight: normal;
  font-size: 12px;
}

.bottom #right #account-drop-down-ul:hover #account-drop-down {
  display: block;
}

.bottom #right #account-drop-down {
  display: none;
  position: absolute;
  width: 220px;
  padding: 15px;
  font-weight: normal;
  background: white;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

.bottom #right #account-drop-down li{
  display: block;
  color: black;
  text-align: center;
}

.bottom #right #account-drop-down #after-button {
  display: block;
  font-size: 12px;
  padding: 10px 0px 0px 0px;
}

.bottom #right #account-drop-down #after-button a {
  display: inline;
  color: #0b5cad;
}

.bottom #right #account-drop-down #after-button a:hover {
  color: #e47911;
  text-decoration: underline;
}

.bottom #right #account-drop-down #drop-down-demo-button {
  padding-top: 15px;
}

.bottom #right #account-drop-down #drop-down-demo-button a {
  font-weight: bold;
  color: red;
}

.bottom #right #account-drop-down #drop-down-demo-button a:hover {
  color: #0b5cad;
  text-decoration: underline;
}

.bottom #right #cart {
  position: relative;
  padding: 12px 25px 7px 20px;
}

.bottom #right #cart #quantity {
  display: block;
  position: absolute;
  top: 8px;
  left: 39px;
  color: #f08814;
}

.bottom #right #cart:hover {
  padding: 11px 24px 6px 19px;
  border-top: 1px solid #4f5965;
  border-right: 1px solid #4f5965;
  border-bottom: 1px solid #4f5965;
  border-left: 1px solid #4f5965;
  border-radius: 3px;
  box-shadow: 0px 1px 0px 0px #90969e;
}

.bottom #right #cart:hover #quantity {
  top: 7px;
  left: 38px;
}

.bottom #right #cart-drop-down-ul {
  position: relative;
}

.bottom #right #cart-drop-down {
  display: none;
  position: absolute;
  width: 220px;
  padding: 15px;
  right: 0px;
  font-weight: normal;
  background: white;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

.bottom #right #cart-drop-down-ul:hover #cart-drop-down {
  display: block;
}

.bottom #right #cart-drop-down li{
  display: block;
  color: black;
  text-align: center;
}

.bottom #right #cart-drop-down #cart-empty {
  padding: 0px 0px 10px 0px;
}

.bottom #right #cart-drop-down .cart-item {
  text-align: left;
  padding: 10px 0px 9px 0px;
  border-bottom: 1px solid grey;
}

.bottom #right #cart-drop-down .cart-item a {
  display: table;
}

.bottom #right #cart-drop-down .cart-item:first-child {
  padding: 0px 0px 9px 0px;
}

.bottom #right #cart-drop-down .cart-item .product-image{
  display: table-cell;
  vertical-align: top;
  width: 65px;
  margin: 0px 5px 0px 0px;
}

.bottom #right #cart-drop-down .cart-item .product-info {
  display: table-cell;
  vertical-align: top;
  margin: 0px 5px 0px 0px;
}

.bottom #right #cart-drop-down .cart-item .product-info li {
  text-align: left;
}

.bottom #right #cart-drop-down .cart-item .product-name {
  color: #2f6ac9;
  margin-bottom: 5px;
}

.bottom #right #cart-drop-down .cart-item a:hover .product-name {
  color: #e47911;
  text-decoration: underline;
}

.bottom #right #cart-drop-down .cart-item .product-price {
  font-size: 13px;
  color: #b12704;
}

.bottom #right #cart-drop-down .cart-item .product-quantity {
  font-size: 12px;
  color: #888888;
}

.bottom #right #cart-drop-down .cart-item .delete-or-save {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: #0b5cad;
  margin-top: 5px;
}

.bottom #right #cart-drop-down #cart-total {
  font-weight: bold;
  padding: 15px 0px 15px 0px;
}

.bottom #right #cart-drop-down #cart-total #total-money-string {
  color: #b12704;
}

.bottom #right #down-arrow {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #a7acb2;
}

.bottom #right .drop-down-button {
  display: block;
  width: 185px;
  height: 30px;
  margin: 0px auto;
  background: linear-gradient(to bottom, #f8e1a7, #f8e1a7 10%, #eebb39);
  border: 1px solid #c89411;
  border-radius: 3px;
}

.bottom #right .drop-down-button:hover {
  background: linear-gradient(to bottom, #f5d78b, #f5d78b 10%, #edb72c);
}

/*--- MAIN ---*/

.large-ad {
  display: block;
  min-width: 920px;
  height: auto;
  background: #11120d;
}

.large-ad img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}

#demo-button-section {
  min-width: 920px;
  text-align: center;
  padding: 20px 0px;
}

#content #demo-button-section #demo-button {
  display: block;
  width: 300px;
  height: 35px;
  font-size: 16px;
  padding: 14px 0px 0px 0px;
  margin: 0px auto;
  background: linear-gradient(to bottom, #f8e1a7, #f8e1a7 10%, #eebb39);
  border: 1px solid #c89411;
  border-radius: 3px;
}

#content #demo-button-section #demo-button:hover {
  background: linear-gradient(to bottom, #f5d78b, #f5d78b 10%, #edb72c);
}
