#search-results {
  min-width: 920px;
}

#search-results #matchless-search {
  font-size: 18px;
  margin: 20px 0px 0px 30px;
}

#search-results #matchless-search #search-query {
  font-weight: bold;
}

#search-results #successful-search #search-query {
  color: #c45500;
  font-weight: bold;
}

#search-results #successful-search header {
  font-size: 16px;
  padding: 10px 0px 9px 30px;
  margin: 0px 0px 10px 0px;
  background: #f3f3f3;
  border-bottom: 1px solid #dddddd;
}

#search-results #successful-search #results {
}

#search-results #successful-search .result {
  display: table;
  min-width: 920px;
  width: 100%;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid lightgrey;
}

#search-results #successful-search .image-cell {
  display: table-cell;
  vertical-align: top;
  width: 240px;
}

#search-results #successful-search .info-cell {
  display: table-cell;
  vertical-align: top;
}

#search-results #successful-search .info-ul {
  margin-right: 20px;
}

#search-results #successful-search .image {
  display: block;
  width: 200px;
  margin: 0px 20px;
}

#search-results #successful-search .image img {
  display: block;
  margin: 0px auto;
}

#search-results #successful-search .name {
  font-size: 18px;
  color: #0066c0;
}

#search-results #successful-search .sold-by {
  font-size: 13px;
  color: #555555;
  margin: 0px 0px 10px 0px;
}

#search-results #successful-search .sale-price {
  font-size: 15px;
  font-weight: bold;
  color: #b12704;
}

#search-results #successful-search .sale-price .amount-saved {
  font-size: 13px;
  font-weight: normal;
  color: #555555;
  text-decoration: line-through;
}

#search-results #successful-search .stock {
  font-size: 14px;
  margin-top: 5px;
}

#search-results #successful-search .in-stock {
  color: #008a00;
}

#search-results #successful-search .left-in-stock {
  color: #cd950c;
}

#search-results #successful-search .out-of-stock {
  color: #b12704;
}
