/* --- HEADER --- */

.auth-header {
  width: 540px;
  margin: 0 auto;
  font-size: 13px;
  font-family: Verdana;
  padding-bottom: 20px;
}

.auth-header-logo {
  display: block;
  float: left;
  width: 135px;
  height: auto;
  padding-top: 15px;
  padding-left: 8px;
}

.auth-header-links {
  display: block;
  float: right;
  text-align: right;
  color: #004D7F;
  margin-top: 15px;
  margin-right: 3px;
}

.auth-header-links li {

}

.auth-header-links a {
  text-decoration: underline;
}

.auth-header-links > .sign-up-link {
  font-size: 11px;
}

/* --- BODY --- */

.auth-main {
  display: block;
  width: 540px;
  height: auto;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #CEE5F4;
  border-radius: 1%;
}

.auth-h2 {
  font-size: 17px;
  font-weight: bold;
  color: #DB7914;
  margin: 0 0 10px 0;
}

.auth-h3 {
  font-size: 15px;
  font-weight: bold;
  color: #DB7914;
  margin: 0 0 5px 0;
}

.auth-input {
  padding: 0 0 30px 0;
}

.auth-input ul {
  width: 460px;
  margin: 0 auto;
}

.auth-input label {
  font-weight: bold;
}

.auth-input ul > li {
  display: block;
  padding: 5px 0;
}

.auth-input input {
  border: 1px solid #CCC;
}
