#sign-in-to-view-profile {
  font-size: 20px;
  text-align: center;
  padding: 40px 0px;
}

#sign-in-to-view-profile > .sign-in-or-up {
  font-size: 22px;
  color: #005bac;
}

#sign-in-to-view-profile > .sign-in-or-up:hover {
  color: #e47911;
  text-decoration: underline;
}
