/* --- HEADER --- */

.auth-header {
  width: 540px;
  margin: 0 auto;
  font-size: 13px;
  font-family: Verdana;
  padding-bottom: 20px;
}

.auth-header .logo {
  display: block;
  float: left;
  padding-top: 15px;
  padding-left: 8px;
}

.auth-header .links {
  display: block;
  float: right;
  text-align: right;
  color: #004b91;
  margin-top: 25px;
  margin-right: 3px;
}

.auth-header .links a {
  text-decoration: underline;
}

.auth-header .links a:hover {
  color: #c45500;
}

.auth-header .links > .sign-up-link {
  font-size: 12px;
}

/* --- BODY --- */

.auth-main {
  display: block;
  width: 510px;
  height: auto;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #c9e1f4;
  border-radius: 1%;
}

.auth-main #new-session-email-input {
  width: 230px;
}

.auth-h2 {
  font-size: 17px;
  font-weight: bold;
  color: #e47911;
  margin: 0 0 5px 0;
}

.sign-in {
  margin: 0 0 15px 0;
}

.auth-h3 {
  font-weight: bold;
  color: #e47911;
  margin: 0 0 5px 0;
}

.auth-main #new-session-email-label {
  margin: 0px 0px 0px 5px;
}

.auth-input {
  padding: 0 0 30px 0;
}

.auth-input ul {
  width: 460px;
  margin: 0 auto;
}

.auth-input ul > li {
  display: block;
  padding: 5px 0;
}

.auth-main button {
  display: block;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  color: #000066;
  margin: 0px 0px 10px 25px;
  background: linear-gradient(to bottom, #ffc741, #ffc741 50%, #be9228);
  border: 1px solid #004D7F;
  box-shadow: inset 0px 7px 4px 0px #ffdf8f;
}

.auth-main button:hover,
.auth-main button:hover {
  background: #ffd86b;
}

.auth-main #new-session-submit {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.auth-main #new-user-submit {
  border-radius: 5px;
}

#new-session-demo-button-section {
  text-align: center;
  padding: 20px 0px;
}

#new-session-demo-button-section #new-session-demo-button {
  display: block;
  width: 230px;
  height: 30px;
  font-size: 14px;
  padding: 14px 0px 0px 0px;
  margin: 0px auto;
  background: linear-gradient(to bottom, #f8e1a7, #f8e1a7 10%, #eebb39);
  border: 1px solid #c89411;
  border-radius: 3px;
}

#new-session-demo-button-section #new-session-demo-button:hover {
  background: linear-gradient(to bottom, #f5d78b, #f5d78b 10%, #edb72c);
}
